$body-background-color: #ffffff;
$sidebar-color: #fff9fc;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #faf7ff;

$body-text-color: #4b5563;
$body-heading-color: #1f2937;
$search-result-preview-color: #6b7280;
$nav-child-link-color: #4b5563;
$link-color: #7652a8;
$btn-primary-color: #e0b0ff;
$base-button-color: #ffffff;

$border-color: #eadff2;
$feedback-color: #f5eaff;
